
@import 'compass';

$white: #fff !default;
$dark: #333 !default;
$nav_dark: #666 !default;
$nav_border: #999 !default;
$nav_bg: $nav_dark !default;

.navbar-brand.active {
    background: #080808;
    }
.navbar {
    background: $nav_bg;
    border-bottom: 2px solid $nav_border;
    }
#navbar {
    small {
        @include border-radius(50%);
        float: right;
        font-size: 80%;
        background: $white;
        line-height: 20px;
        height: 20px;
        padding: 0 4px;
        min-width: 20px;
        margin-left: .5em;
        font-weight: bold;
        text-shadow: 0!important;
        text-align: center;
        }
    a:hover small, .active small {
        color: $dark;
        text-shadow: 0!important;
        }
    }

